    <!-- About Section -->
    		<div class="entry-content">
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              </div>
        </div>
    <h1 id="title">Medication Safety Code System</h1>

    <h2 id="subtitle">Personalized medicine in your pocket.</h2>
<br><br>
        <!-- Slideshow container -->
<div class="slideshow-container">

    <div id="carousel class="carousel slide carousel-fade" data-ride="carousel">



<div class="mySlides slidefade">
  <img src="/landing-page-theme/img/front_image.png" style="width:65%">
</div>

<div class="mySlides slidefade">
  <img src="/landing-page-theme/img/front_image4.png" style="width:100%">
</div>

<div class="mySlides slidefade">
  <img src="/landing-page-theme/img/card_photo.png" style="width:75%">
</div>


</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
<br>


<br>
<p><i><b>Disclaimer:</b> The MSC system is a research prototype. It is solely intended for research purposes and may not be used to treat, prevent or diagnose illness or disease. Institutions and companies interested in the MSC system are kindly asked to <a href="/contact">contact us</a></i><br />
</p><br>
<h3>About</h3>
<div class="box-wrapper" align="center">
<div class="text-box-3-columns">
<div class="front-box" align="center">
<h5>Safer therapies</h5>
<p>The <b>Medication Safety Code (MSC) system</b> enables health care providers to make their patients&#8217; medical therapies safer and more effective.</p>

</div>
</div>
<div class="text-box-3-columns">
<div class="front-box">
<h5>Privacy protection</h5>
<p>The MSC is <b>secure</b> and does not require central storage of patient data. Patients have <b>full control</b> over their data.
</div>
</div>
<div class="text-box-3-columns">
<div class="front-box">
<h5>Expertise</h5>
<p>The MSC system was developed at the <b>Medical University of Vienna</b> and has participants and supporters from all over the world.
</div>
</div>
</div>
<div class="arrow_box_white" style="z-index: 7;">
<h3>Learn more</h3>
<div class="box-wrapper">
<div class="text-box-3-columns">
<div class="learnmore" align="center">
				<a href="/healthcare_providers"><br />
						<span class="fea-icon1"><i class="fa fa-user-md"> </i> </span></p>
<h3>Healthcare provider</a></h3>
</div>
</div>
<div class="text-box-3-columns">
<div class="learnmore" align="center">
				<a href="/patients"><br />
						<span class="fea-icon1"><i class="fa fa-user"> </i> </span></p>
<h3>Patient</a></h3>
</p></div>
</div>
<div class="text-box-3-columns">
<div class="learnmore" align="center">
				<a href="/researchers"><br />
						<span class="fea-icon1"><i class="fa fa-search"> </i> </span></p>
<h3>Researcher</a></h3>
</p></div>
</div>
</div>
					</div>





    </section>
            </div>