
    		<div class="entry-content">
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/>
              </div>
        </div>

<div class="entry-content">
			<div id="first" class="arrow_box_white" style="z-index: 10;">
<h1>Contact us</h1>
<p>Please contact us if you are interested in using the MSC system, or if you have any other questions or requests.</p>
<p><strong>Assoc. Prof. Dr. Matthias Samwald</strong><br />
Medical University of Vienna<br />
Währinger Straße 25a, 1090 Vienna, Austria<br />
<i class="fa fa-phone"></i> +43-1-40400-66650<br />
<i class="fa fa-envelope"></i> <a href="mailto:matthias.samwald@meduniwien.ac.at?subject=Medication"> matthias.samwald@meduniwien.ac.at</a><br />
<i class="fa fa-info-circle"></i> <a href="http://samwald.info/" target="_blank">http://samwald.info/</a></p>

<h2>People behind the Medication Safety Code initiative</h2>
<h4>Coordinator</h4>
<p><strong>Matthias Samwald</strong> (Medical University of Vienna, Vienna, Austria)</p>
<h4>Team at the Medical University of Vienna</h4>

                <p><strong>Kathrin Blagec</strong> (Medical University of Vienna, Vienna, Austria)<br />
<strong>Simon Ott</strong> (Medical University of Vienna, Vienna, Austria)<br /></p>


<h2>Partners</h2>

                <p><a href="https://www.biologis.com/" target="_blank"><img src="{{ site.baseurl }}/landing-page-theme/img/biologis.png" width="20%"></a>
                    <a href="https://www.mayoclinic.org/" target="_blank"><img src="{{ site.baseurl }}/landing-page-theme/img/mayo-clinic-logo.png" width="5%"></a>
                    <a href="https://www.knmp.nl/" target="_blank"><img src="{{ site.baseurl }}/landing-page-theme/img/Logo_KNMP-300x103.jpg" width="20%"></a>
                    <a href="http://www.upatras.gr/en"><img src="{{ site.baseurl }}/landing-page-theme/img/LOGO-UPATRAS-768x301.jpg" width="20%"></a>
                    <a href="https://www.liverpool.ac.uk/"><img src="{{ site.baseurl }}/landing-page-theme/img/Logo_UOLiverpool.png" width="20%"></a>
                    <a href="http://www.cro.it/it/" target="_blank"><img src="{{ site.baseurl }}/landing-page-theme/img/logo_CROAcrop.jpg" width="20%"></a>
                    <a href="https://www.lumc.nl/?setlanguage=English&setcountry=en" target="_blank"><img src="{{ site.baseurl }}/landing-page-theme/img/Logo_LUMC-768x264.jpg" width="20%"></a>
                    <a href="https://www.sspa.juntadeandalucia.es/servicioandaluzdesalud/" target="_blank"><img src="{{ site.baseurl }}/landing-page-theme/img/Logo Granada_Servicio-Andaluz-de-Salud.jpg" width="20%"></a>
                    <a href="https://www.uni-lj.si/eng/" target="_blank"><img src="{{ site.baseurl }}/landing-page-theme/img/Logo_ljubljana.jpg" width="20%"></a>
                    <a href="http://www.upgx.eu" target="_blank"><img src="{{ site.baseurl }}/landing-page-theme/img/LogoUPGx_600-800.jpg" width="10%"></a><p>Some parts of this project have received funding from the Austrian Science Fund (FWF): [P 25608-N15] and the European Union&#8217;s Horizon 2020 research and Innovation programme under grant agreement No 66835.
</p>

</p></center>

            </div>
</div></section>
                </article></section></div>