<!-- Footer -->
<footer>
    <div class="container">
        <div class="row" style="text-align: center">
            <div class="">
                <ul class="list-inline">
                    <li>
                        <a href="{{ site.baseurl }}/#home">Home</a>
                    </li>
                    <li>-</li>
                    <li>
                        <a href="{{ site.baseurl }}/contact">Contact</a>
                    </li>
                    <li>-</li>
                    <li>
                        <a href="https://gitlab.com/medication-safety/msc-server"><i class="fa fa-github-square" style="font-size: 22px"></i></a><br />
                    </li>

                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
